@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
/* font-family: 'Rubik', sans-serif */

:root {
  --font-family: 'Rubik', sans-serif;
  --txt-1: #fafafa;
  --txt-2: #d6d6d6;
  --purple: #7644cc;
  --red: #b92102;
  --orange: #f97c34;
  --gray: #19191a;
  --lightgray: #2e2e30;
}
